<!DOCTYPE html>
<html lang="en">

<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="Intranet base">
  <meta name="author" content="MowiBase">
  <meta name="keyword" content="asdasdasd">
  {% if title %}
    <title>{{ title }} &mdash; MowiBase</title>
  {% else %}
    <title>MowiBase</title>
  {% endif %}
  <script type="text/javascript" src="/vue.js?v={{version}}"></script>
</head>

<body>
 
 {% block content %}{% endblock %}

  <!-- CoreUI and necessary plugins-->
  <script>
    window.INITIAL_STATE = {{ initialState | safe }};
  </script>
  {% block scripts %}{% endblock %}
  <script src="/index.js?v={{version}}"></script>

</body>
</html>
